@model IEnumerable<WebApplication2.Models.Unit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Apartment_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Floors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bedrooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bathrooms)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Apartment_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Floors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bedrooms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bathrooms)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Unit_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Unit_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Unit_Id })
        </td>
    </tr>
}

</table>
